li{
    color: #008000;
}
h1{
    color: #800080;
    border: 2px dashed #f8dba6;
}
h4{
    color: #ffffff;
}
body{
    background-image: url("./img/imgrocket.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.moon-name{
    color: #00ffff;
    font-style: oblique;
}

#europa{
    color: #9acd32;
    background-color: #ffffff;
}

/* Seletores avançados. */

/* O seletor universal * pode afetar todos os elementos da sua página. */
* {
    margin: 0;
    padding: 0;
}
/* O seletor de atributo seleciona elementos baseados nos atributos que eles possuem.*/
a[href="https://www.exemplo.com"] { 
    color: red; 
}

/* PSEUDO CLASSES - muito útil. */
/* A pseudo-classe :hover aplica estilos a um elemento quando o cursor do mouse está sobre ele. */
button:hover {
    background-color: yellow;
}

